<form [formGroup]="todoForm" (ngSubmit)="createTodo()">
  <h4>Create new ToDo</h4>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
  <br />
  <mat-radio-group formControlName="priority">
    <mat-label>Priority</mat-label>
    <br />
    <mat-radio-button value="high">High</mat-radio-button>
    <mat-radio-button value="medium">Medium</mat-radio-button>
    <mat-radio-button value="low">Low</mat-radio-button>
  </mat-radio-group>
  <br />
  <br />
  <mat-form-field>
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <br />
  <button mat-raised-button color="primary">Add</button>
</form>
<br />
